<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link href="{% static 'navbarStylesheet.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'webfontkit_Glacial_Indifference/stylesheet.css' %}" rel="stylesheet" type="text/css">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<div class="navbar">
    <p ><a href="/">Home</a>
    |<a href="/portfolio">Portfolio</a>|
    <a href="/resume">Resume</a></p>

</div>
{% block page_content %} {% endblock %}
{% block script %}{% endblock %}
</body>
</html>
